/*.row div:nth-child(2n + 1) {
    background-color: red;
}*/
/*.row div:nth-child(even) {
    background-color: aqua;
}*/

body {
    background-color: grey;
}

.container {
    padding-top: 2em;
}
.row div {
    min-height: 65px;
    min-width: 65px;
}

.black {
    background-color: black;
    color: white;
    font-size: 3em;
    text-align: center;
}
.white {
    font-size: 3em;
    text-align: center;
    color: black;
    background-color: white;
}

canvas {
    z-index: 1;
}

